/* event-controller.css */

.event-controller {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Bai Jamjuree', sans-serif;
  }
  
  .grid-common {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .grid-c-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  

  
  .event-status-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .event-status-button:hover {
    background-color: #0056b3;
  }
  
  .grade-buttons {
    display: flex;
    gap: 10px;
  }
  
  .grade-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .grade-button:hover {
    background-color: #0056b3;
  }
  
  .event-data {

    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .event-data h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  
  .event-data ul {
    list-style-type: none;
    padding: 0;
  }
  
  .event-data li {
    margin-bottom: 10px;
  }
  
  /* Add more CSS styles as needed */
  