.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero .left-content {
  width: 50%;
}

.hero .right-content {
  width: 50%;
}

@media (max-width: 850px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero .left-content {
    margin-top: 2rem;
    width: 100%;
  }

  .hero .right-content {
    width: 100%;
  }

  .hero .left-content h1 {
    text-align: center;
    font-size: 41px;
  }

  .hero .hero-buttons {
    margin-top: 1rem;
    justify-content: space-evenly;
  }

  .hero .House__box {
    align-items: center !important;
  }

  .hero .House_Chart__Container {
    align-items: center !important;
  }

  .hero .House__Container {
    margin: 4rem 0;
  }

  .house-overview {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media (max-width: 500px) {
  .hero .left-content h1 {
    font-size: 30px;
  }

  .house-overview {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 426px) {
  .house-overview {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 326px) {
  .house-overview {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.hero .hero-btn {
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 1rem;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  transition: all 300ms;
}

.hero .hero-btn:hover {
  box-shadow: rgba(29, 28, 28, 0.199) 0px 20px 25px -5px,
    rgba(46, 44, 44, 0.199) 0px 10px 10px -5px;
}

.hero .main-btn {
  background: var(--main-color);
}

.hero .second-btn {
  background: var(--color-primary);
}

/* Houses Overwiew */

.hero .House_Chart__Container {
  height: 100px;
  justify-content: end;
  align-items: start;
}

.hero .House_Chart__Bar {
  width: 61px;
  border-radius: 20px 20px 0px 0px;
  transition: height 300ms ease;
}

.hero .House__box {
  align-items: start;
}

.house-overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.hero .House_Chart__Bar.houseType-0 {
  background: #ffff00;
}

.hero .House_Chart__Bar.houseType-1 {
  background: #6600cc;
}

.hero .House_Chart__Bar.houseType-2 {
  background: #009933;
}

.hero .House_Chart__Bar.houseType-3 {
  background: #cc0000;
}