.events {
  --var-soft-blue: hsl(215, 51%, 70%);
  --var-cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --var-main-darkest: hsl(217, 54%, 11%);
  --var-card-dark: hsl(216, 50%, 16%);
  --var-line-dark: hsl(215, 32%, 27%);
  --var-lightest: white;

  /* Fonts */

  --var-heading: normal normal 600 1.5em/1.6em "Outfit", sans-serif;

  --var-small-heading: normal normal 400 1em/1em "Outfit", sans-serif;

  --var-para: normal normal 300 1em/1.55em "Outfit", sans-serif;
}

.events {
  transition: all 300ms;
  min-height: 100vh;
  position: relative;
}

.card-container img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

.card-container {
  height: 100%;
  cursor: pointer;
}

.card-container a {
  color: inherit;
}
.card-container h1 {
  font: var(--var-heading);
  color: var(--var-lightest);
  padding: 1.2em 0;
}

.card-container h2 {
  font: var(--var-small-heading);
  color: var(--var-lightest);
}
.card-container .event__des {
  max-height: 10rem;
  overflow-y: scroll;
}
.card-container p {
  font: var(--var-para);
  color: var(--var-soft-blue);
}

.card-container span {
  color: white;
}
.card-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 2em auto;
  background-color: var(--var-card-dark);
  border-radius: 15px;
  margin-bottom: 3rem;
  padding: 2rem;
}

.card-container div.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container div.User-base,
.time-left,
.card-attribute {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.card-container .card-attribute {
  padding-bottom: 1.5em;
  border-top: 2px solid var(--var-line-dark);
}

.card-container a.hero-image-container {
  position: relative;
  display: block;
}

.card-container img.eye {
  position: absolute;
  width: 100%;
  max-width: 2em;
  top: 44%;
  left: 43%;
}

@media (min-width: 400px) {
  .card-container img.eye {
    max-width: 3em;
  }
}

.card-container .hero-image-container::after {
  content: "";
  background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-color: hsla(178, 100%, 50%, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.card-container .hero-image-container:hover::after {
  opacity: 1;
}

.card-container .small-image {
  width: 1.2em;
  margin-right: 0.5em;
}

.card-container .small-avatar {
  width: 2em;
  border-radius: 200px;
  outline: 2px solid white;
  margin-right: 1.4em;
}

.card-container .main-content .icon {
  font-size: 1.1rem;
  color: var(--var-soft-blue);
  margin-right: 0.4em;
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* Event Loader */

.loader {
  transition: all 300ms;
  position: absolute;
  z-index: 1111;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  backdrop-filter: blur(5rem);
  /* background-color: var(--var-card-dark); */
}

.loader-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007bff; /* Loader color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
