.tab-pane .current-device {
  margin-bottom: 19px;
}

#devices .input-form .device {
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
#devices .input-form .remove-device {
  color: var(--text-color);
  width: auto;
  cursor: pointer;
}
#devices .input-form .remove-device i {
  font-size: 1rem;
  font-weight: 800;
}
#devices .input-form {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.devices-btn {
  margin-top: 30px;
}
#devices .input-form .device .device-ico {
  padding: 5px 40px 5px 8px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#devices .input-form .device .device-ico i {
  font-size: 2rem;
}

#devices .input-form .device .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#devices .input-form .device .text-data .top-text-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-align: center;
  justify-content: flex-start;
}
#devices .input-form .device .text-data .bottom-text-data {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
  flex-direction: row;
}
#devices .device-type {
  margin-top: 3rem;
}
