/* Broadcast.css */
.broadcast {
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}
.broadcast .top-actions-broadcast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.broadcast .top-actions-broadcast .brodcast_send_msg {
  max-width: 500px;
}
@media screen and (max-width: 750px) {
  .broadcast .top-actions-broadcast {
    flex-direction: column;
  }
}

.broadcast .message-list {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .broadcast .filters {
    display: flex;
    flex-direction: column;
  }
}
