/* ################ Nav Bar ################ */

header {
  position: absolute;
  height: 77px;
  z-index: 11;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 35px;
  position: relative;
  padding: 0 !important;
}

header .content .nav-section {
  width: clamp(130px, 60%, 374px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header .content .nav-section ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header .content .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
header .content a {
  gap: 1rem;
}
header .content a h1 {
  font-weight: 900;
  color: var(--panel-color);
}

header .content a img {
  width: 3.5rem;
}

header .content .nav-section li a {
  color: var(--panel-color);
  padding: 1rem;
  font-size: 1.1rem;
}
/* Nav End */
