/* ################ Prizes ################ */

.prizes {
  background: var(--bg-color4);
  margin: 30px 20px;
  border-radius: 2rem;
}

.prizes .container .wrapper {
  padding: 70px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prizes .container .wrapper .title {
  margin-bottom: 30px;
}

.prizes .container .wrapper .title h1 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 600;
}

.prizes .container .wrapper .prize .title h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 600;
}

.prizes .container .wrapper .prize-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: start; /* Adjust this property to 'start' to center the boxes in the column */
  gap: 3rem;
  padding: 2rem;}

@media screen and (max-width: 870px) {
  .prizes .container .wrapper .prize-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(252px, 1fr)
    ); /* Use auto-fill for responsiveness */
  }
}

@media screen and (max-width: 600px) {
  .prizes .container .wrapper .prize-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(252px, 1fr)
    ); /* Use auto-fill for responsiveness */
  }
}

.prizes .container .wrapper .prize-container .card {
  width: clamp(4rem,100%,25rem);
  height: 20rem;
  background: white;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
}

.prizes .container .wrapper .prize-container .card .img {
  border-top-right-radius: 29px;
  width: 100%;
  height: 50%; /* You can adjust this height as needed */
  background-origin: content-box;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  background-repeat: no-repeat; /* Changed to no-repeat */
  background-size: cover; /* Use cover to fully cover the container */
  align-items: flex-start; /* Changed to flex-start */
  background-attachment: scroll; /* Changed to scroll */
  contain: content;
  justify-content: right; /* You may need to adjust this depending on your design */
}

.prizes .container .wrapper .prize-container .save {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prizes .container .wrapper .prize-container .text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.prizes .container .wrapper .prize-container .save .svg {
  transition: 0.2s ease-in-out;
  width: 15px;
  height: 15px;
}

.prizes .container .wrapper .prize-container .icon-box {
  margin-top: 15px;
  width: 70%;
  padding: 10px;
  background-color: #e3fff9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.prizes .container .wrapper .prize-container .icon-box svg {
  width: 17px;
}

.prizes .container .wrapper .prize-container .text .h3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.prizes .container .wrapper .prize-container .text .p {
  font-family: "Poppins", sans-serif;
  color: #999999;
  font-size: 13px;
}

.prizes .container .wrapper .prize-container .icon-box .span {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #9198e5;
}

.prizes .container .wrapper .prize-container .card:hover {
  cursor: pointer;
}

.prizes .container .wrapper .prize-container .save:hover {
  transform: scale(1.1) rotate(10deg);
}

.prizes .container .wrapper .prize-container .save:hover .svg {
  fill: #ced8de;
}
