/* sidebar */
.sidebar {
  background: var(--color-primary);
  width: 260px;
  padding: 36px 20px;
  transition: var(--transition-default);
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}

.info-name {
  font-weight: 500;
}

.info-img {
  width: 48px;
  height: 48px;
  overflow: hidden;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-name {
  font-size: 20px;
  color: var(--color-white);
  text-transform: uppercase;
}

.navigation {
  margin-top: 28px;
  height: 600px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 18px;
  }
}

.sidebar-change {
  margin-left: -260px;
}

.nav-item {
  margin-bottom: 10px;
  margin-right: 4px;
}

.nav-item a.active .nav-link {
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.nav-item a.active .nav-link svg {
  color: var(--color-white);
}

.nav-item a .nav-link svg {
  font-size: 1.2rem;
  color: var(--color-silver-v1);
}

.nav-link {
  display: block;
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex;
  padding: 6px 14px;
  column-gap: 12px;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  transition: var(--transition-default);
}

/* Initially, hide the sub-menu */
.nav-item .sub-menu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 100ms ease-in-out;
  /* Use ease-in-out for smooth animation */
}

/* When the parent nav-item is active, show the sub-menu with a non-zero max-height */
.nav-item.active .sub-menu {
  opacity: 1;
  max-height: 100px;
  /* Adjust this value based on your sub-menu's expected maximum height */
  transition: all 200ms ease-in-out;
  /* Use ease-in-out for smooth animation */
}

.nav-link:hover {
  border: 1px solid var(--color-primar-light);
}

.nav-link-icon {
  width: 22px;
}

.nav-link-text {
  text-transform: capitalize;
}

@media screen and (max-width: 1400px) {
  .sidebar {
    padding: 24px 16px;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 72px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .sidebar-change {
    margin-left: -72px;
  }

  .info-name {
    display: none;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }

  .nav-link {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }

  a.active .nav-link {
    border-radius: 100%;
  }

  .nav-link:hover {
    border-radius: 100%;
  }

  .nav-link-text {
    display: none;
  }

  .nav-item.active .sub-menu {
    margin-left: 0px;
  }

  .nav-item.active .sub-menu span {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .sidebar {
    margin-left: -72px;
  }

  .sidebar-change {
    margin-left: 0px;
  }
}

/* sub nav */

.sub-menu {
  padding: 0;
  margin-left: 20px;
  /* Adjust the indentation as needed */
}

.sub-menu-item {
  list-style: none;
}

.sub-menu-link {
  gap: 10px;
  color: var(--color-silver-v1);
  text-decoration: none;
  padding: 8px 0;
  display: block;
  transition: color 0.2s ease;
}

.sub-menu-link.active {
  color: var(--main-color);
}

.sub-menu-link:hover {
  color: var(--main-color);
}
