.apeal-section {
  margin: 5em auto;
  width: 100%;
  text-align: center;
}

.apeal-section .wrapper {
  width: 100%;
  position: relative;
}

.apeal-section .wrapper .msg {
  display: flex;
  flex-direction: column;
}
.apeal-section .wrapper .msg span {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  line-height: 43px;
  text-align: center;
}
.apeal-section .wrapper .msg span:nth-child(1) {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.apeal-section .wrapper .msg span:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 40px;
}
.apeal-section .wrapper .img {
  position: relative;
  bottom: 127px;
  right: -59%;
  width: 20rem;
  height: 7rem;
  opacity: 0.75;
  transition: 300ms;
}

@media (max-width: 1024px) {
  .apeal-section .wrapper .img {
    bottom: 91px;
    right: -58%;
    width: 15rem;
    height: 5rem;
  }
}

@media (max-width: 680px) {
  .apeal-section .wrapper .img {
    display: none;
  }
}
