.houses__container .inputs {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  gap: 20px; /* Gap between grid items */
}
.houses__container .houses_submit_btn {
  max-width: 300px;
}