.school-theme .des {
  width: clamp(400px, 70%, 1024px);
}

.school-theme .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 850px) {
  .school-theme .content {
    flex-direction: column;
  }
  .school-theme .content img {
    width: 100%;
  }
  .school-theme .des {
    width: 100%;
  }
}
