.nav-notify-profile {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-notify-profile .notify-btn {
  position: relative;
}
.nav-notify-profile .notify-btn i {
  position: relative;
  font-size: 1.6rem;
  color: var(--text-color);
}
.nav-notify-profile .notify-btn .notify-count {
  color: var(--text-color);
  background: var(--primary-color);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: -1;
  bottom: 62%;
  left: 51%;
  justify-content: center;
}

/* Submenu */

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.3rem 1rem;
  clear: both;
  font-weight: 400;
  color: #67748e;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #344767;
  background-color: #e9ecef;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #67748e;
  text-decoration: none;
  background-color: transparent;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-header {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}
.dropdown-item-text {
  display: block;
  padding: 0.3rem 1rem;
  color: #67748e;
}
.dropdown-menu-dark {
  color: #dee2e6;
  background-color: #343a40;
  border-color: transparent;
}
.dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
}
.dropdown-menu-dark .dropdown-item:focus,
.dropdown-menu-dark .dropdown-item:hover {
  color: #fff;
  background-color: hsla(0, 0%, 100%, 0.15);
}
.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
  color: #67748e;
  background-color: transparent;
}
.dropdown-menu-dark .dropdown-item.disabled,
.dropdown-menu-dark .dropdown-item:disabled {
  color: #adb5bd;
}
.dropdown-menu-dark .dropdown-divider {
  border-color: transparent;
}
.dropdown-menu-dark .dropdown-item-text {
  color: #dee2e6;
}
.dropdown-menu-dark .dropdown-header {
  color: #adb5bd;
}



