nav {
  font-family: "Poppins", sans-serif;
  z-index: 111;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}

nav.close {
  width: 73px;
}

nav .logo-name {
  display: flex;
  align-items: center;
}

nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
  justify-content: flex-start;
  gap: 15px;
  cursor: pointer;
}

nav .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

body.light nav .logo-image img {
  filter: invert(0.9);
}

nav .logo-name .logo_name {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}

nav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li {
  list-style: none;
}

.menu-items li .navLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.menu-items li .navLink.active {
  color: var(--primary-color);
}

.nav-links li .navLink.active:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--text-color);
}

.nav-links li .navLink:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--black-light-color);
}

/* Initially hide all SubNav items */
.nav-links .SubNav {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

/* Show SubNav when a .navLink is active */
.nav-links .navLink.active + .SubNav {
  max-height: 100px;
  opacity: 1;
}

.nav-links .SubNav li .navLink {
  height: 25px;
  margin-left: 10px;
}

.nav-links .SubNav li .navLink.active {
  color: var(--primary-color);
}

.nav-links .SubNav li .navLink .nav-link-icon {
  font-size: 18px;
}

.nav-links .SubNav li .navLink .link-name {
  font-size: 15px;
}

.nav-links .SubNav li .navLink.active:before,
.nav-links .SubNav li .navLink:hover:before {
  content: "";
  display: none;
}

.nav-links li .navLink.active:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color2);
}

body.dark li .navLink:hover:before {
  background-color: var(--text-color);
}
body.dark li .navLink.active:hover:before {
  background-color: var(--primary-color2);
}

.menu-items li .navLink .nav-link-icon {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}

.menu-items li .navLink .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}

.menu-items li .navLink.active .link-name,
.menu-items li .navLink.active .nav-link-icon {
  color: var(--primary-color);
}
body.dark .menu-items li .navLink.active .link-name,
body.dark .menu-items li .navLink.active .nav-link-icon {
  color: var(--primary-color2);
}
nav.close li .navLink .link-name {
  opacity: 0;
  pointer-events: none;
}

body.dark .nav-links li .navLink:hover .nav-link-icon,
body.dark .nav-links li .navLink:hover .link-name {
  color: var(--text-color);
}
body.dark .nav-links li .navLink.active:hover .nav-link-icon,
body.dark .nav-links li .navLink.active:hover .link-name {
  color: var(--primary-color2);
}
.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}

body.dark .switch:before {
  left: 20px;
}

@media (max-width: 400px) {
  nav {
    width: 0px;
  }

  nav.close {
    width: 73px;
  }

  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }

  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav ~ .dashboard {
    left: 0;
    width: 100%;
  }

  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }

  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}
