.loader-inner {
  position: relative;
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin: auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 2px;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect1 {
  background: #fedd31;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect2 {
  background: #fedd31;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  background: #fedd31;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  background: #fedd31;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: #fedd31;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
body {
  color: #fff;

  background: #000000;
}
.sk-circle {
  margin: auto;
  width: 10px;
  height: 10px;
  position: relative;
  background: #000;
  border-radius: 100%;
  left: -18px;
  -webkit-animation: sk 1.2s infinite ease-in-out;
}

@keyframes sk {
  1% {
    top: -15px;
  }
  2% {
    top: 10px;
  }
  5% {
    top: -20px;
  }
  10% {
    left: -10px;
  }
  20% {
    top: -25px;
  }
  30% {
    left: 15px;
    background: #fedd31;
  }
  35% {
    top: 5px;
  }
  45% {
    top: -5px;
  }
  50% {
    top: -5px;
  }

  60% {
    top: -6px;
  }
  70% {
    top: 6px;
  }
  80% {
    top: 6px;
  }
  60% {
    top: -6px;
  }
}
